<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="not-found content">
        <h1>Oops! Error404, Site Not Found</h1>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>