<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="content about">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatum, incidunt eligendi ducimus aliquid harum animi, quasi rerum corrupti at optio vero. Repellat ullam velit autem in veniam, deleniti neque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias iusto quas dolore doloremque tempore necessitatibus mollitia excepturi voluptatem, dicta non, esse possimus consequuntur dolores inventore ex eius modi amet?</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>