<!doctype>
<html>
    <head>
        <title>
                My First Page
        </title>
        <link rel="FLower Image" href="./2-110R11533570-L.jpg" type="image\JPG">
        <link rel="stylesheet" href="MyFirstPage.css">
    </head>
    <body>
        <nav>
            <a href="/">Home Page</a>
            <a href="/about">About Page</a>
        </nav>
        <center>
            <h1>
                My First Page
            </h1>
            <a href="My First Page.html"><img src="./2-110R11533570-L.jpg" width="400px" height="500px"></a>
        </center>
        <marquee>
            <img src="./2-110R11533570-L.jpg" width="400px" height="500px">
            <img src="./2-110R11533570-L.jpg" width="400px" height="500px">

        </marquee>
        <p>
            Hi, This is My First Page!!!
        </p>
        <ol>
            <li>
                This is my First Page.
            </li>
            <li>
                I'm trying to Improve my HTML Skills.
            </li>
            <li>
                Help me Improve.
            </li>
        </ol>
        <ul>
            <h2>
                Select Your Choice :
            </h2>
            <li>
                <button type="submit" onclick="alert('Thanks For Your Support :) !!! ')" >Liked Your Page </button>
            </li>
            <li>
                <button type="submit" onclick="alert('Sure :) ')"> You Can Do Better </button>
            </li>
            <li>
                <button type="submit" onclick="alert('Sorry To Disappoint :( !!! ')"> Are You Kidding Me </button>
            </li>
        </ul>
        <form>
            Feedback: <textarea rows="5" cols="20">Type Here </textarea> <br>
            <button type="submit" name="submit" value="Finish" onclick="alert('Thanks For Your Feedback')">finish</button>
        </form>
        <a href="./2-110R11533570-L.jpg" type="image\JPG">See The Image  </a>
    </body>
</html>